@*
    Ürünlerin Anasayfası
*@
@model IEnumerable<StokTakipProgrami.Entity.Product>;
@{
	ViewData["Title"] = "ProductList";
	Layout = "AdminLayout";
}

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="card-box mb-30">
				<div class="pd-20">
					<h4 class="text-blue h4">ÜRÜNLER LİSESİ</h4>
					<a href="ProductAdd" type="button" class="btn btn-outline-primary text-right">Ürün Ekle</a>
				</div>
				
				<div class="pb-20">
					<table class="table hover multiple-select-row data-table-export nowrap">
						<thead>
							<tr>
								<th class="table-plus datatable-nosort">Ürün Id</th>
								<th>Görsel</th>
								<th>Ürün Adı</th>
								<th>Açıklama</th>
								<th>Fiyat</th>
								<th>Stok Adedi</th>
								<th>Kategori</th>
								<th>İşlem</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td class="table-plus">@item.Id</td>
									<td>@item.ImageUrl</td>
									<td>@item.Name</td>
									<td>@item.Description</td>
									<td>@item.Price</td>
									<td>@item.StockQuantity</td>
									<td>@item.CategoryId</td>
									<td>
										<div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											   href="#"
											   role="button"
											   data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
												<a class="dropdown-item" href="ProductDetail/@item.Id"><i class="dw dw-eye"></i> Görüntüle</a>
												<a class="dropdown-item" href="ProductEdit/@item.Id"><i class="dw dw-edit2"></i> Düzenle</a>
												<a class="dropdown-item" href="ProductDelete/@item.Id"><i class="dw dw-delete-3"></i> Sil</a>
											</div>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>